div.content {
    display: grid;
    grid-template-rows: min-content min-content;

    row-gap: 1rem;

    justify-items: center;

    cursor: pointer;
}

    div.content:has(:hover) {
        background: rgb(0, 38, 255, 0.31);
    }

div.main-data {
    display: grid;
    grid-template-rows: min-content min-content;

    justify-items: center;
}

span.name {
    font-size: 1.2rem;
    font-weight: bold;
}