div.content {
    display: grid;
    grid-template-rows: min-content min-content;

    row-gap: 1rem;

    justify-items: center;
}

div.main-data {
    display: grid;
    grid-template-rows: min-content min-content;

    justify-items: center;
}

span.name {
    font-size: 1.2rem;
    font-weight: bold;
}